[2015-12-03 03:06] damiensawyer opened #1 "Have you published this?"
Hi, this looks great! Can I ask, have you published it yet? I can't see it in the extensions library.

[2015-12-13 11:54] dkundel commented on #1
Yes it is published :) https://marketplace.visualstudio.com/items/dkundel.vscode-new-file

[2015-12-13 11:54] #1 closed

[2015-12-13 18:28] damiensawyer commented on #1
Cheers. Thanks for the extension. Very useful :-)

[2016-01-11 12:02] moostad opened #2 "Add file relative to current open file"
That would be great if we could add  file relative to current open file when some was open for example
 if I'm editing ```src/db/models/car.ts``` and adding ```people.ts``` created in  ```src/db/models/people.ts```
 if I'm editing ```src/db/models/car.ts``` and adding ```../config.ts``` created in  ```src/db/config.ts```
 if I'm editing ```src/db/models/car.ts``` and adding ```foo/bar.ts``` create

[2016-01-28 17:45] stereokai opened #3 "Is it technically possible to get autocomplete path?"
Like autocomplete/suggest as you type the path into the command bar?

[2016-02-16 07:32] Morten242 opened #4 "Don't display an error on ESC"
If you open the prompt and then press ESC it displays an error saying "No file selected".

[2016-02-27 08:51] sarbbottam opened #5 "Keyboard shortcut not working - Is it only me?"
I could see the shortcut ⌥⌘N specified against the command.
![screen shot 2016-02-27 at 12 50 09 am](https://cloud.githubusercontent.com/assets/949380/13372065/2067b990-dcec-11e5-8593-79e1dcc2f232.png)

However, could not get the prompt when I press ⌥⌘N.
Could you please verify?

Thanks!!

[2016-03-08 13:16] #4 closed

[2016-03-16 18:18] dkundel commented on #2
Good suggestion. I'm currently busy with relocating and switching jobs. I can cover this in April :) If you want to do it in the meantime, feel free to send a PR

[2016-03-16 18:19] dkundel commented on #3
Would be nice. I'll look into it :)

[2016-03-19 10:59] stereokai commented on #3
Sweet. Thanks!

[2016-03-24 14:29] skol-pro commented on #5
Same here, using Mac OS too.

[2016-03-25 06:31] Treri commented on #5
same here.
using Code 0.10.11 and OS X 10.11.2

[2016-04-02 15:15] hackerone commented on #5
same here using - Version 0.10.11 (0.10.11)

[2016-04-08 15:22] chuckhendo commented on #5
It appears that VSCode interprets the "N" as if you pressed "Opt+N" (special character). So, if you change your keybinding to the following, it should work:

{
    "key": "alt+cmd+`",
    "command": "extension.createNewFile"
}

[2016-04-08 18:43] sarbbottam commented on #5
Sorry, I don't follow you, shortcut already suggests ⌥⌘N. I am pressing ⌥N (Opt+N) along with ⌘ (Cmd), Why VSCode is confused? Do you mean to say VSCode is considering ⌥⌘N as ⌥⌘⌥N.

Thats strange. There are quite a few commands that uses ⌥⌘ + Letter as shortcut, please refer https://code.visualstudio.com/Docs/customization/keybindings, a quick search for ⌥⌘, would highlight the result.

[2016-04-11 13:09] chuckhendo commented on #5
I'm honestly not sure, but the way I discovered this was by hitting "CMD+K CMD+K" in the keybinding screen, and then trying ⌥⌘N. It entered it into VSCode as "alt+cmd+`"

[2016-04-11 13:12] Treri commented on #5
@chuckhendo I tried. Yes, if I press ⌥⌘N. It entered it into VSCode as "alt+cmd+`"

Maybe we should report a issure to vscode

[2016-04-11 14:39] dkundel commented on #5
Thanks for the investigation folks! I'll create an issue in the vscode repository.

Since this seems to be a Mac specific bug I won't publish a new update for this but I verified the suggestion from @chuckhendo and it indeed works. So feel free to throw that into your keybindings as a temporary workaround:

[code]

[2016-04-11 14:51] dkundel commented on #5
The issue is now open under microsoft/vscode#5164 in case you are interested!

[2016-04-11 20:10] dkundel commented on #5
I pushed a new version so you should be able to update it to version 0.1.0!

[2016-04-11 20:43] dkundel commented on #2
I pushed an update to v0.1.1. If you update you should see the changes :)

[2016-04-11 20:43] #2 closed

[2016-04-11 21:05] sarbbottam commented on #5
W00t!

BTW, the latest version is `0.1.1` not `0.1.0`

[2016-04-14 16:53] dkundel commented on #5
Oh yeah that's because I realized afterwards that I had forgot something :smile:

[2016-04-15 20:28] DerAlbertCom opened #7 "Select only newFile without extension"
I would like that on a creation of a new file only the newFile Part of the new filename is selected. Because of that it is possible to directly write the new name and don't rewrite the extension.

[2016-04-17 03:28] sarbbottam opened #8 "Respect absolute path"
and use the absolute path to the current selected directory as the default value/placeholder

For example, `src` is the currently selected folder, once the prompt comes up, after pressing ⌥⌘N, there is no way to find out what is the currently selected folder.

However, if the absolute path to currently selected folder can be displayed in the prompt, it would be great.
![screen shot 2016-04-16 at 8

[2016-04-25 14:24] tofagerl opened #9 "Nothing happens if you don't already have a file opened in the editor when creating a new file"
If you launch vscode in a directory, and don't open any files, but just use cmd-alt-n to create a new file, it won't work.
If you first select an existing file, and then repeat the cmd-alt-n and try again to create the same file, it will work.
If you then delete the file you just created and close the first file you opened, you're back to not being able to create files.

I assume this has somethin

[2016-04-25 15:36] dkundel commented on #9
Yeah that's a bug I realized yesterday as well. It's related to a change in that I recently did. I'll try to fix it this week and push a new update :) thanks for filing the issue!

[2016-04-25 15:46] tofagerl commented on #9
Thanks for quick reply 👍

[2016-04-25 16:21] tofagerl opened #10 "Add current path to default path+filename"
So if you're in ~/dev/project/src/components, and you want to create a file, instead of getting `newFile.ts` in the box, you would get `~/dev/projects/src/components/newFile.ts`.
First of all it makes it clearer where you're about to create a file, secondly it makes it easier to create files 'en masse' without moving around in the filesystem for each file you need to create.

[2016-05-06 02:33] masaeedu commented on #9
@dkundel Any luck with this? I tried taking a look in the code but I feel I don't really understand what's going. E.g. in `determineFullPath`, what is the following code trying to do?

    if (filePath.indexOf('/') === '/') {
      if (root) {
        deferred.resolve(path.join(root, filePath));
      } else {
        deferred.resolve(filePath);
      }
      return deferred.promise;
    }

`index

[2016-06-26 16:39] nmabhinandan commented on #3
It'd be great to have autocomplete!

[2016-08-12 03:53] Treri opened #12 "How to disable new files created relative to current file?"
I want to disable crreate new file relative to current file. I want to use absolute in my working directory. Can I have a option to disable or enable this?

In old versions, it works fine. But when I update vscode-new-file to new version, I can't know the current file sometimes.

Sublime text advanced-new-file create new file will relative to root path of directive not the current file.

Could you

[2016-09-13 13:00] ilog2000 opened #13 "It does not create a file when there is no open editor window"
File is not created if there is no open editor window.

Steps to reproduce (I am using Windows 10):
1. Create empty directory 'test'
2. >cd test
3. >code .
4. Press Ctrl-Alt-N
5. Type in 'test.html' and press Enter
6. Nothing happens

[2016-09-14 18:15] ilog2000 commented on #13
Sorry, I did not check other issues. This is a duplicate of https://github.com/dkundel/vscode-new-file/issues/9

[2016-11-04 13:57] ilog2000 commented on #9
Any news on this annoying issue?

[2016-12-07 14:45] craigjennings11 opened #14 "New commits never released?"
It looks like some changes were made to fix issues #8, #9, and #10 but were never released. When can we see this update drop? It contains functionality that better matches Sublime's plugin and would be very nice to have.

[2016-12-13 14:07] dkundel commented on #14
Hey @craigjennings11, thanks for the reminder! With my job change and everything this kinda got lost. I finally found time to get everything updated and added a bunch of config options to it as part of that. Check out version `2.0.0` and let me know if there are any issues. I'll try to maintain this more regularly now 🎉

[2016-12-13 14:12] #14 closed

[2016-12-13 14:13] dkundel commented on #12
Hi @Treri,

I just launched `v2.0.0` that allows you now to fully configure this (either per project or for your whole editor). Here are all options:

[code]

Cheers,
Dominik

[2016-12-13 14:13] #12 closed

[2016-12-13 14:14] dkundel commented on #10
Hi @tofagerl,

This should be fixed with the latest release of `v2.0.0`. Let me know if you have any other issues. I'll be regularly maintaining this from now on :) Sorry for the inactive time.

Cheers,
Dominik

[2016-12-13 14:14] #10 closed

[2016-12-13 14:16] dkundel commented on #8
Hi @sarbbottam,

You can activate in the configuration now to see the absolute path by turning the respective flag on in `v2.0.0`. These are all configurations:

[code]

[2016-12-13 14:16] #8 closed

[2016-12-13 14:18] dkundel commented on #7
Hi @DerAlbertCom,

From what I see, there is currently no way to do this. Will close this issue for now, but I'll keep my eyes open.

Cheers,
Dominik

[2016-12-13 14:18] #7 closed

[2016-12-13 14:19] dkundel commented on #3
From what I can see, there is currently no optimal way to do this. Therefore I'll close this issue for now and keep my eyes open if something changes.

Cheers,
Dominik

[2016-12-13 14:21] dkundel commented on #9
This should be fixed now with `v2.0.0` 😊

Sorry for the delay!

[2016-12-14 05:24] Treri commented on #12
🎉🎉🎉

Thanks very much!!

[2016-12-14 13:04] ilog2000 commented on #9
Sorry, it does not work for me even with v2.0.0. My steps to reproduce:

0. My location is c:\Users\<userName>\Downloads\
1. Execute "code.exe ." (note the spot - I am running VSCode on folder)
2. See VSCode background with some keymappings, press Ctrl+Alt+N
3. Enter "test.txt" and press ENTER button
4. See that nothing happens - neither window opens, nor file creates

[2016-12-14 23:37] ilog2000 commented on #13
It is still not working in v2.0.0

[2016-12-19 13:05] dkundel commented on #9
Hi @ilog2000!

That is because the default option is that it tries to use the current file path as "root" for the file created. You can change this behavior globally by changing the setting `"newfile.relativeTo": "project"` which will always create the files relative to the project structure. Make sure to look also into the other options. I chose `"file"` as the default option because that was the

[2016-12-19 13:05] dkundel commented on #13
Check my comment in issue #9

[2016-12-19 13:05] #13 closed

[2016-12-19 16:34] ilog2000 commented on #9
Hi @dkundel

Thank you for the tip - now I see these options in the readme file. I will try to switch to "project" and see. But I have concerns about such approach - is it really needed? My understanding, that we either have a path to the particular file (then we can extract a directory to navigate from) or we have a project directory. And it's possible to make selection automatically, w/o choosin

[2016-12-19 16:45] dkundel commented on #9
I'll be adding that behavior back as soon as I get around it. The reason why I introduced the other configuration is that there were other issues where people asked if the path could be an absolute path, if it could be relative to the project, if it could be relative to the current file and many more. So I tried to make everyone happy by offering the configuration. As part of that the fallback log

[2016-12-19 16:50] dkundel commented on #9
Alright I published a new minor version that should fix this issue. Let me know if you hit any more issues :)

[2016-12-19 23:09] ilog2000 commented on #9
Thank you for this quick update. Unfortunately, it still doesn't work for me - neither with "file", nor with "project"/"root" (I was overriding only "newFile.relativeTo"). I tried to create "test.txt", then ".\test.txt", then "temp\test.txt", then ".\temp\test.txt" - nothing happened when all previously edited files are closed. I also re-installed addon several times.

[2016-12-20 07:35] kierenj opened #15 "Pops up with absolute path selected - relative path doesn't work"
Hi - I recently updated to the latest version.  Now, when I hit Ctrl+Alt+N, I get the popup, but I get an absolute path in the popup, and the whole path is selected.  If I enter just a filename, it fails with a permission error since it's trying to create it in the VS Code executable path.

Let me know if this is intended (I wouldn't guess so?) or if I can do anything to help diagnose.

Thank you

[2016-12-20 12:51] dkundel commented on #15
Hey @kierenj. This is intended. You can change this behavior in the settings. Just add an entry to your settings with: `"newFile.showFullPath": false` and it will not use absolute paths anymore. There were a lot of people asking for this feature.

Hope this helps!

[2016-12-20 12:51] #15 closed

[2016-12-20 12:53] dkundel commented on #9
This is really odd. Which version of VS Code do you have installed? It works flawlessly for me. Can you very that it's really using the correct path by adding in your settings: `"newFile.showFullPath": true` to make the whole path visible. Maybe there is a Windows problem?

[2016-12-20 16:58] ilog2000 commented on #9
Oh, seems I finally found it. That "newFile.showFullPath": true was the initial setting. When I changed it to false, all started working as I expected. So, in my previous tests I was getting absolute path after pressing Ctrl+Alt+N, then I was replacing it with relative path, and there was no window created.

Thank you for help.

[2016-12-20 19:45] dkundel commented on #9
Ah okay. Yeah another person had the same issue. It's hard to cater to all requests people have. Glad it works now though!

[2016-12-20 19:45] #9 closed

[2016-12-22 08:04] kierenj commented on #15
Thanks - works fine.  Happy to use the config, just confusing that someone would prefer to have to press, at a minimum, "End, Left, Ctrl+Shift+Left" to select a filename with this as the default.  I prefer the idea of "Ctrl+A" if I want to do an absolute path!  But no biggie.

[2016-12-28 16:10] dkundel commented on #15
Unfortunately VS Code doesn't offer that option yet :/ I would love to have that.

[2017-01-12 11:27] perlun opened #16 "Add autocompletion"
Thanks for a great extension!

A feature I've been missing since migrating over from Atom is what https://atom.io/packages/advanced-new-file has:

The "bash-like autocomplete support" is really nice and helpful when typing the name. Could something like this be implemented in this extension? Is it doable?

[2017-01-13 04:02] dogoku commented on #16
That's currently not possible, due to limitations with the input box.  See https://github.com/Microsoft/vscode/issues/426

[2017-04-03 20:57] patrickhulce opened #17 "New setting: newFile.showPathRelativeTo"
First off, thanks for the plugin it's really is a big benefit to bring back some Atom-like features I've been missing! :)

Instead of the absolute path or just the path relative to the file as options it'd be nice to see the path relative to project root.

Example:

I'm currently editing `deeply/nested/file.js` in a project located at `/project/path`. I'd like to be able to see `deeply/nested/newF

[2017-04-03 20:59] patrickhulce opened #18 "Feature: newFile.relativeTo: 'selectedTreeFolder'"
It'd be awesome to be able to highlight a particular folder in the tree view and have the shortcut queue up a new file in the selected folder.

[2017-04-03 21:00] patrickhulce opened #19 "UX Enhancement: preselect the filename in the dialog"
Not sure if this is possible given VScode's API surface, but it'd be awesome to preselect just the filename (without folder structure in absolute mode) for editing :)

[2017-04-11 15:57] etiennejcharles commented on #5
I believe this should be re-opened ( @dkundel Please validate )

On Mac OS : 10.12.4
VS Code : 1.11.1

In order to make it work.
I had to change it back to **cmd+alt+n** in my key bindings.

I believe the default is: **alt+cmd+`** to circumvent the original problem discussed here, which seems ~ to have been fixed in a newer version of vscode.

[2017-04-21 19:10] dkundel commented on #19
Hey @patrickhulce,

I would really love that feature but unfortunately it's still not possible in the VS Code API as far as I know. But feel free to open an issue to them :)

[2017-04-21 19:11] dkundel commented on #18
I'm not sure if i fully understand this request. Can you give a bit more details on your idea?

[2017-04-21 19:11] #16 closed

[2017-04-21 19:12] dkundel commented on #17
Hey @patrickhulce!

I'll look into this over the weekend and see if I can get an update out quickly :)

[2017-04-21 19:22] dkundel commented on #5
You are correct @etiennejcharles!

They fixed the actual VS Code problem and therefore this will have to be reverted. I'll push out a new update this weekend.

Thanks for raising this!

Dominik

[2017-04-21 20:02] perlun commented on #16
OK, thanks anyway @dogoku

[2017-04-21 21:55] patrickhulce commented on #18
Sure @dkundel! Basically here's my desired flow.

Let's say I have a file `test/deeply/nested/file-test.js` currently open in my editor, I want to add a new file in another location like `test/fixtures/my-fixture.json`, I have the `test/fixtures` folder expanded and selected in my file explorer on the left-hand side, and the file explorer has focus (not the editor). I want my keyboard shortcut to

[2017-04-21 21:55] patrickhulce commented on #17
Awesome that'd be great! :D

[2017-04-21 21:55] patrickhulce commented on #19
Aw, bummer, I will thanks!

[2017-04-21 21:55] #19 closed

[2017-04-27 00:45] li-xinyang opened #21 "Suggestion Autocomplete Path"
I use path auto completion a log and I think it will be a great feature to have to vscode-new-file

[2017-04-27 14:57] dkundel commented on #21
Unfortunately does VS Code still not support autocompletion in their API for the input box. Feel free to create an issue in their project though to ask for support. I'll be more than happy to add this feature then :)

[2017-04-27 14:57] #21 closed

[2017-04-27 15:01] dkundel commented on #18
Sounds interesting. I currently can't find anything in the VS Code API that allows me to get that information of the selected folder though. Did you come across an API like that? Or any extension that does something along these lines?
I could probably add an entry to the right-click menu that has an activation point for the menu with this behavior. Does that sound useful to you?

[2017-04-27 20:23] patrickhulce commented on #18
Yeah looks like it's an open issue :/ https://github.com/Microsoft/vscode/issues/3553
I'm mostly just trying to recreate a lot of the conveniences I had with Atom :) context menu support would be a great close second!

[2017-05-04 14:47] davidascher commented on #17
Agree with this kind of feature.  In general, I find that 99% of the time I want to create a file very close to a current file, 90% of the time it's in the same directory.

While you're digging in this code, I suggest:

- [ ] at the very least, letting `./newfile.js` work, so that I don't have to worry about editing a full path in the dialog
- [ ] preferably, also let `newfile.js` work.
- [ ] at t

[2017-05-10 22:48] mitchellporter commented on #5
Any update on this? Still experiencing this behavior.

[2017-05-10 23:56] lengk opened #22 "command 'extension.createNewFile' not found"
Version 1.12.1 (1.12.1)
OSX: 10.12.4

I've set the shortcut

![ keybinds.json File](https://cloud.githubusercontent.com/assets/5440566/25926053/8210c0ae-35e4-11e7-9cb9-109e83978964.png)

However, I'm getting this error message:

![Error Message](https://cloud.githubusercontent.com/assets/5440566/25926048/7b6427aa-35e4-11e7-8784-1678330266a7.png)

[2017-05-18 21:54] dkundel commented on #22
Hey @lengk I just published v3.0.0 of the extension and as part of that I switched the namespace of the command to `newFile.createNewFile`. Just update and change the keyboard shortcut to that and it should work :) Let me know if you encounter any problems.

[2017-05-18 21:54] #22 closed

[2017-05-18 21:55] dkundel commented on #18
Hey @patrickhulce I just shipped v3.0.0 that implements an explorer menu entry that allows you to create files relative to that folder or file regardless of your remaining config.

Let me know if this works for or if you want anything else :)

Cheers,
Dominik

[2017-05-18 21:55] #18 closed

[2017-05-18 22:00] dkundel commented on #17
This option just shipped with v3.0.0. You can use the following values:
- `"newFile.showPathRelativeTo": "root"` --> Basically a replacement of `newFile.showFullPath` which has been deprecated
- `"newFile.showPathRelativeTo": "project"` --> Basically shows the full path but removes the path up to the project root. This in combination with `"newFile.relativeTo": "file"` should give you the exact be

[2017-05-18 22:00] #17 closed

[2017-05-18 22:03] dkundel commented on #5
Hey @mitchellporter, @etiennejcharles  I finally just shipped an update to v3.0.0 that should fix this again and ship a bunch of new things that you can find in the change log.

Please let me know if you encounter any other problems.

Cheers,
Dominik

[2017-05-18 22:03] #5 closed

[2017-05-18 22:58] patrickhulce commented on #17
awesome @dkundel works like a charm! thanks for graciously accepting the feedback! 😄  🎉  💯

[2017-05-23 09:23] mogwai opened #24 "Feature Request - File Path Auto Complete"
Would it be possible to add a path/file complete or suggestion of the search? Could be similar to the current cmd+P (Mac) shortcut that allows for searching files within the workspace.

Perhaps even a Tab tab auto complete to meet the nearest matched name.

![screen shot 2017-05-23 at 10 21 34](https://cloud.githubusercontent.com/assets/5440566/26347474/9d03ed20-3fa1-11e7-8b7d-f0f827d85d6b.png)

[2017-05-30 18:37] dkundel commented on #24
Hi @lengk!

Unfortunately does the InputBox not support autocomplete yet. We could use a QuickPick box instead but that would mean we would have to "hack" it because we need to supply the list of available options right from the beginning. The only way we could do that is by first recursively inspecting the whole tree before showing the QuickPick box.

I would really love to have auto complete tho

[2017-06-26 19:05] denysdovhan commented on #24
@dkundel does @Microsoft's vscode team aware of this trouble?

[2017-06-27 14:49] dkundel commented on #24
Jep there have been multiple issues before if I recall correctly.

[2017-06-27 14:52] dkundel commented on #24
Here are two examples: https://github.com/Microsoft/vscode/issues/23633, https://github.com/Microsoft/vscode/issues/15659

[2017-07-11 21:59] dgunderson commented on #17
Thanks for this feature. I just wanted to point out that there's a misleading comment in the settings that threw me for a loop for a few minutes, as I copy/pasted what was typed there instead of the actual setting:

![image](https://user-images.githubusercontent.com/5771312/28092575-206af886-6651-11e7-9e87-f08dddfc2cd4.png)

Looks like the typo is in the word ```Full```, as that references a setti

[2017-07-17 09:29] dkundel commented on #17
Good catch @dgunderson! I fixed it :) I changed the name of the setting half way through implementing it and must have missed this one.

Your understanding is also correct. When I wrote that comment I had in mind that in order to emulate the setting to be `true` you should use `'root'`. I can see how that's confusing though.

[2017-10-12 19:25] Telokis commented on #19
@dkundel It's possible! (And I was about to create an issue asking for this exact feature)

https://code.visualstudio.com/docs/extensionAPI/vscode-api#InputBoxOptions

I may try to make a PR if you let me a little more time! :p

(I use this extension a lot so I want it to be as perfect as possible)

[2017-10-12 19:34] Telokis commented on #7
I'd just like to point out that this issue will be fixed by https://github.com/dkundel/vscode-new-file/pull/27 !

[2017-10-13 12:05] dkundel opened #29 "Make extension work with workspaces"
Right now the extension doesn't work with additional folders you might have loaded in your workspace. There are multiple solutions to this problem.

The idea that I have in my mind right now is a selection dialog that pops up when you trigger the extension to choose which sub-folder of the workspace you want to use as the basis.

Happy to see other suggestions though.

[2017-10-13 22:35] Telokis commented on #29
Disclaimer: Haven't used the multi-workspace stuff.

Couldn't you just determine the workspace from the current file?

[2017-10-15 08:48] dkundel commented on #29
I haven't looked into the API yet if it's possible. To repro it you can follow the following steps:

1. Open a folder via Code
2. In the `File` menu pick `Add folder to Workspace....` and pick another folder.

When you use the extension with relative to project root it currently adds it always to the initial folder you added to the workspace rather than relative to the project root of the folder y

[2017-10-31 13:19] Telokis opened #31 "Escaping the inputbox shows an error : "Cannot read property 'message' of undefined""
The error catched by the try/catch block is undefined.

(Will be fixed by my PR and this issue is only meant for tracking purposes)

[2017-10-31 13:20] Telokis opened #32 "Use path.sep to use '\' on Windows when using 'valueSelection' for the inputbox"
Actually uses '/' as a separator.
Causes the inputbox to preselect the whole path on Windows.

(Will be fixed by my PR and is only here for tracking purposes)

[2017-10-31 14:56] Telokis opened #34 "Discussion: Add trailing commas where es5 supports it"
[This page summarize pretty well the reason for using those](https://medium.com/@nikgraf/why-you-should-enforce-dangling-commas-for-multiline-statements-d034c98e36f8)

Quick recap:

- Cleaner diffs: Having trailing commas removes a line from the diff when we add something inside the array/object.
- Easier copy/pasting: Don't bother adding/removing it yourself, it will always be there.

It's not a

[2017-10-31 20:30] dkundel commented on #34
I'm fine with having it. Do you want to add it to the config?

Cheers,
Dominik

[2017-10-31 20:32] #31 closed

[2017-10-31 20:32] #32 closed

[2017-10-31 21:06] greenkeeper[bot] opened #35 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2017-11-01 21:31] #34 closed

[2017-11-03 20:17] nikitavoloboev opened #39 "Disable warning notification on dismissing the action"
This popover is really annoying when you want to make a new file but then change your mind.

![2017-11-03 at 21 12](https://user-images.githubusercontent.com/6391776/32394004-f5a37480-c0db-11e7-8411-8282c83aa99a.png)

Please allow users to remove it. Thank you.

[2017-11-04 17:45] dkundel commented on #39
Sorry this has been fixed already by @Telokis in #33 but I haven't had the time to push an update. If you update your extension this should be fixed now.

Cheers,
Dominik

[2017-11-04 17:45] #39 closed

[2017-11-09 15:27] Telokis commented on #29
Ok, now that 1.18.0 is out ([changelog](https://code.visualstudio.com/updates/v1_18)), we need to support this asap. They provided a [guide](https://github.com/Microsoft/vscode/wiki/Extension-Authoring:-Adopting-Multi-Root-Workspace-APIs) but I haven't read it yet.

[2017-11-09 18:19] dkundel commented on #29
Yep I agree. I'm currently at a row of conferences but I'll try to get this done tomorrow morning with the help of the guide.

[2017-11-12 12:58] #29 closed

[2017-11-19 21:16] a-eid opened #41 "after hitting enter nothing happens."
I'm using a mac and everything working fine up until hitting enter to confirm.
it does nothing.

[2017-11-19 21:21] Telokis commented on #41
Hey!
Thanks for reporting this issue but we need more details, please.
What is your VSCode version? Are you using multiple workspaces? Is your extension up to date?
What are you talking about when you say "hitting enter to confirm"? What are you confirming?

Thanks for providing details!

[2017-11-19 21:27] a-eid commented on #41
@Telokis

I'm on the latest version of vscode ` 1.18.1 ` ,
I just installed the extension so its up to date.
there is no errors in the output tab (extensions selected).
what do you mean multiple workspaces? .
confirm as in I wrote the path and want to create the file create the file.
hitting return/enter has no effect.

[2017-11-19 21:51] Telokis commented on #41
It works perfectly well for me.
How do you open the path input box? Do you use the shortcut or right click on a file?
Are you sure you have the correct rights for the directory you use?
I don't have a mac so I can't test in your environment, sadly.

[2017-11-20 11:51] dkundel commented on #41
Hey @a-eid do you have any custom settings or are you using the default settings?

[2017-11-20 11:55] a-eid commented on #41
Just the recommended settings on the readme

[2017-11-20 14:26] dkundel commented on #41
I'm unable to reproduce the issue. What is the path that you are trying? Is the resulting path a path for which you don't have permission to create a file for?

[2017-11-22 17:39] chuckhendo opened #42 "File templates - additional features"
I see that file templates were recently added, although there really isn't much documentation on them. I wanted to see if you had any additional plans on what direction you want to take file templates, particularly in regards to the list below. I would be happy to do any/all of the work for this, but I don't want it to interfere with your plans. Some of it might also belong in a completely separat

[2017-11-23 10:59] dkundel commented on #42
Hi @chuckhendo,

Thanks for your great suggestions. I added templates at one point but haven't had the time to write documentation or really configure them for my own use case.

I think the first two suggestions are stuff we can totally add out of the box. We could do the variable replacement part in a naive way first where we basically provide:
- file name
- variations of the file name like kebab

[2017-11-27 12:31] chuckhendo commented on #42
Great idea! I'll be able to take a look at that in a few weeks

[2017-11-30 18:18] krzkaczor opened #43 "Can't install from VS Code repository"
Hey,
this is super weird but I can't install this extension from inside of the visual studio code (install extensions command). Installing other extensions works without any problems.

Can someone reproduce this issue?

Best,
KK

[2017-12-02 21:41] dkundel commented on #43
Hey @krzkaczor,

Can you provide a bit more information? Which version from VS Code are you using and on which operating system are you?

Cheers,
Dominik

[2017-12-04 08:59] krzkaczor commented on #43
Hey @dkundel ,

sorry for bothering you. I just tried again today and it worked. Maybe MS CDNs had worse day or something :D

Best regards,
KK

[2017-12-04 08:59] #43 closed

[2017-12-04 11:32] dkundel commented on #43
No problem! Happy to hear it works!

Cheers,
Dominik

[2017-12-12 04:26] ngocphamm opened #44 "The extension contains the whole Visual Studio Code App"
At first, I noticed that the it takes a long time to install the extension. Then this is what I found.

[code]

So basically it contains the whole Visuao Studio Code app itself!

Does anyone know the reason why?

[2017-12-19 18:13] dkundel commented on #44
Oh that's a brilliant catch! VS Code tests download a version of VS Code to run the tests on. For some reason it's not in the ignore file. I'll update that!

[2017-12-19 18:15] #41 closed

[2017-12-20 00:26] ngocphamm commented on #44
3.2 MB now. Looking good! 👍

[2017-12-24 12:01] #44 closed

[2018-01-16 20:43] bdougherty opened #45 "Add option to have no part of the file name pre-filled"
There doesn't seem to be a way to have just the path show up in the field. I find that most of the time, the filled in file extension is not what I want.

[code]

I set those options but the file extension is still filled in.

[2018-01-17 15:26] dkundel commented on #45
I think the VS Code extension API falls back to the default value in that case. The `defaultFileExtension` should only be set atm if you don't have any file open. Otherwise it should always use the same extension as the current file which at least for me works great in most cases. There are rare cases where I have to change it.

I'm happy to merge a PR to accept `""` as a valid option. Maybe this

[2018-03-07 03:46] hongbin0908 commented on #24
+1

[2018-03-08 13:18] deadcoder0904 opened #46 "Don't close extension when switching from VSCode to Chrome"
So I am not sure if this is VSCode issue or the extensions, but when I press `CMD+OPTION+N` it opens up input to select `FOLDER` structure then when I press `ENTER` it asks for filename. That's the time I switched from `VSCODE` to `CHROME` using `ALT+TAB` & the extension closed.

The expected behaviour is that the extension must stay at the point where it asks FILENAME & the actual behaviour is it

[2018-03-08 13:52] Telokis commented on #46
I don't think this is an issue we can handle on our side. It's VSCode's fault, sadly! :(

[2018-03-08 13:53] #46 closed

[2018-03-09 12:23] deadcoder0904 commented on #46
Hey @Telokis the solution is quite simple.

I think you must mention it in the `README` on VSCode page & Github page.

Just need to set this `"workbench.quickOpen.closeOnFocusLost": false` in `User Settings`.

[2018-03-09 13:29] Telokis commented on #45
@bdougherty Any feedback on dkundel's answer?

[2018-03-09 13:59] dkundel commented on #46
Hey @deadcoder0904 feel free to open a PR for the README to add it to it and I'm happy to merge it :)

Cheers,
Dominik

[2018-03-09 14:16] deadcoder0904 commented on #46
Done #47

[2018-03-09 19:44] bdougherty commented on #45
The `disableSmartExtension` option sounds like a good solution to me.

[2018-03-24 06:09] pingshunhuangalex opened #48 "[Suggestions] Possible new features"
1. Combine new file feature with open file feature, open files if the path exists
2. Path Autocomplete (I know it's been requested many times, https://github.com/patbenatar/vscode-advanced-new-file)
3. Support all directories, not just from a project (e.g. if I type ~/test/, it should also work)
4. display file icons in autocomplete
![image](https://user-images.githubusercontent.com/17170199/37861

[2018-03-25 01:02] dkundel commented on #48
Hi @pingshunhuangalex!

Thanks for the suggestions. Let me address them separately:
1. That's already happening. If you type in a path that exists it will open it.
2. The other extension is essentially doing a hack that I'm not too fond of. I'm happy to accept pull requests if someone really wants to add this using this hack. I am tracking some issues listed in #24 that request to add quick pick o

[2018-03-25 04:15] pingshunhuangalex commented on #48
Thanks for the answer @dkundel

[2018-03-25 04:15] #48 closed, assigned to nobody

[2018-04-24 21:14] dann1 opened #50 "Set custom file permissions"
Hello, great work with this extension.
Back in sublime text Advanced New File lets you create files with custom file permissions using: `"file_permissions": "777"` in the settings. I have to run python and pass the script as argument, instead of the preferred way, running the script directly because of not having set the execution bit.

Could you implement this feature?

[2018-04-24 21:19] dann1 opened #51 "Set the cursor in a specific line when creating a file"
I have a file template with `#!/usr/bin/python` on the first line. I would like when opening the file to have the cursor on a specific line. With sublime text's advanced new file I was able to do this with:
[code]

[2018-04-26 08:14] dkundel commented on #51
That sounds like a good idea. I don't have time to implement this at the moment but if you would be interested in implementing this and submitting a PR I would be excited to merge it.

Cheers,
Dominik

[2018-05-03 19:53] dkundel commented on #50
Hey @dann1,

I don't have any resources to implement this right now. So if anyone wants to take this over until I get to it, you are more than welcome to :)

Cheers,
Dominik

[2018-05-13 21:01] Telokis commented on #51
Are we supporting file templates? Or is it something handled by another extension? @dann1
With the config you provided does Sublime text put your cursor at the end of the file or can you tell it to put it wherever you want?

Edit: Alright, after looking inside the code I noticed that we have kind of a skeleton for templates.
It's not documented, though.

[2018-05-13 21:07] Telokis commented on #50
This should be very easy to do. There is a simple option available in `fs.appendFile` (https://nodejs.org/api/fs.html#fs_fs_appendfile_path_data_options_callback)

[2018-05-13 21:20] Telokis commented on #45
So, let me recap:
- Add an option named `disableSmartExtension` which will prevent the extension from being deducted from the current file. (https://github.com/dkundel/vscode-new-file/blob/0ba5ceb63a42e6a5dccd0c8cf838f51d46286e73/src/file-controller.ts#L121)
- Don't forget to update the way we find `selectionBoundsForFileName` (https://github.com/dkundel/vscode-new-file/blob/0ba5ceb63a42e6a5dccd0c

[2018-05-13 21:25] Telokis commented on #42
@chuckhendo Any feedback on this?

[2018-05-17 00:42] davetorbeck opened #52 "Create directory not file"
Is it possible to just create a directory without specifying a file?

[2018-05-17 08:01] Telokis commented on #52
Hey @DaveTorbeck !
This is not currently possible, no.
A possible solution would be to make it only create a directoy if the specified path ends with a `/`, though.
What do you think about it?
We are accecpting PRs. You can try to do it yourself and submit one, if you feel like it!

/cc @dkundel What do you think about it?

[2018-05-17 21:44] davetorbeck commented on #52
Thanks for the quick reply @Telokis.  I'll take a stab at a PR when I have some free time.

[2018-05-22 23:30] chuckhendo commented on #42
@Telokis I keep wanting to take a look at it, but I just haven't had the time recently. Hope I can real soon

[2019-01-26 03:47] patrickhulce opened #54 "Created files/folders no longer appear in tree view automatically"
Wanted to give you a heads up that in the latest VSCode Insiders build, files/folders created via the new file command here no longer show up automatically in the File Explorer/Tree View. I now have to explicitly refresh in order to see the created files/folders.

Not sure if it's on their side or yours, but it's been two consecutive builds now, so thought you should know. Great work my friend!

#

[2019-02-07 06:24] Yzrsah opened #55 ""Advanced New File" and "Files: Advanced New File" makes extension too difficult to use"
This extension has two different commands which get completed when typing `Adv`:
`Advanced New File`
`Files: Advanced New File`

If you execute `Advanced New File`, it does nothing.

This makes the extension unusable for me because too frequently it completes the wrong command `Advanced New FIle`, which does nothing. It's also confusing to the user.

How to fix it:
- There should not be a `Advance

[2019-02-12 16:39] jasonsbarr commented on #54
Having the same problem. I just installed this extension because patbenatar/advanced-new-file was giving me errors I couldn't fix, so at least this one is working at all. Still annoying, though.

[2019-02-12 16:46] jasonsbarr commented on #54
The plot thickens: I erased all `newFile` settings from `settings.json` and now the new files are showing up in the tree.

Edit: after removing all settings and then adding them back it continues to show new files in the tree.

[2019-02-12 17:28] jasonsbarr commented on #54
Ok, I figured out why the files weren't showing up: somehow, whether it's because I didn't understand how the extension works or because something's buggy, I ended up creating the files in my home directory instead of the project directory. Are you 100% sure you're creating the files in a directory that's in your tree?

[2019-02-12 17:32] patrickhulce commented on #54
Yep when I refresh the file tree they start to show up. Uninstalling and reinstalling the extension along with removing the settings.json actually fixed it for me too 🎉 thanks for the tip!

[2019-02-12 18:44] jasonsbarr commented on #54
Great, I'm glad my shot in the dark was useful! 😃

[2019-06-11 18:06] nexxai opened #56 "Entering a file name with a path that doesn't exist does not create the path"
Ok, maybe I'm missing something but let's say I have an existing folder called `/root` at the root of my open project.  What I would like to be able to do is open the Advanced New File dialog, and enter something like `/root/folder/subfolder/example.txt` and have it automatically create `folder` and `subfolder` before eventually creating `example.txt`.

Is this possible, and if not currently, is i

[2019-07-06 11:24] suyashkhandare opened #58 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-new-file`
- Extension Version: `4.0.2`
- OS Version: `Windows_NT x64 6.3.9600`
- VSCode version: `1.36.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Suyash\dkundel.vscode-new-file-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-cau

[2019-11-25 08:41] inwardmovement commented on #24
Are there any news about path autocompletion?

[2020-01-30 22:24] AntonGrekov opened #60 "Change slashes type"
I've installed your extension to windows machine. I have back slashes = '', and i don't like it :)
How to i change it to linux straight slashes '/' that are more convinient to my eyes O_O ?

[2020-06-09 15:31] sjiamnocna opened #62 "Writes full path when creating file"
When creating file using CTRL+ALT+N, I've got full path, which in some cases may be unreadable. Possible solution is to add option to use only short path relative to (root/home/project/file) option.

instead

I'd appreciate just

BTW. directory autocomplete will be also appreciated, but not necessary :)

[2020-06-09 18:28] dkundel commented on #62
Hey @sjiamnocna :)

This already exists as part of the existing configuration. It's just not enabled for legacy reasons. If you add the following entries to your `settings.json` it should work:

[code]

[2020-06-09 18:28] #62 closed, assigned to nobody

[2021-08-04 17:31] Kritiqual opened #65 "Cannot create new file when one file is opened"
When there is a file opened, the keyboard shortcut for open new file keep open this message: "Running the contributed command: 'extension.advancedNewFile' failed."

[2021-08-05 11:13] #65 closed, assigned to nobody